
#faq-section .accordion-item:first-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#faq-section .accordion-item:last-of-type {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}