#hero-section {
    margin-top: -200px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
            rgba(0, 0, 0, .9),
            rgba(0, 0, 0, .1)
    ),
    url(https://res.cloudinary.com/imagine-design-develop/image/upload/v1663402485/rackemm_images/app_images/breaking_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
