#upcoming-events-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    background-image: linear-gradient(
            rgba(0, 0, 0, .9),
            rgba(0, 0, 0, .3)
    ),
    url(https://res.cloudinary.com/imagine-design-develop/image/upload/v1663306074/rackemm_images/app_images/Screen_Shot_2022-09-15_at_10.27.35_PM.png);
/*url(https://res.cloudinary.com/imagine-design-develop/image/upload/v1663305838/rackemm_images/joao-alexandre-paulo-qA005Vbp7jk-unsplash.jpg);*/
    /*url(https://res.cloudinary.com/imagine-design-develop/image/upload/v1663305248/rackemm_images/ashley-byrd-hH0x9ij3JnA-unsplash.jpg);*/
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
