@import url("https://fonts.googleapis.com/css?family=Anton");

:root {
    --black: #000000;
    --white: #ffffff;
    --error: #e7195a;
    --cyan: #00cdcd;
    --cyan-light: #bfffff;
    --light-gray: #eef4ff;
    --medium-gray: #525559;
    --dark-gray: #292c31;
    --grid-form: #fefce3;
    --yellow: #fff8a5;
    --dark-yellow: #fff9af;

    /* Font sizes*/
    --h1: 33px;
    --h2: 30px;
    --h3: 26px;
    --h4: 24px;
    --h5: 19px;
    --h6: 18px;
    --border-radius: 0px;
    --letter-spacing: 2px;
    --gradient-black-to-dark-gray: linear-gradient(black, var(--medium-gray))
}

/* Text Font Size
---------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: var(--letter-spacing);
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

h6 {
    font-size: var(--h6);
}

#root {
    border-radius: var(--border-radius);
    min-height: 100vh;
    background-color: var(--dark-gray);
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn {
    border-radius: var(--border-radius);
}

main {
    margin-top: 100px;
    margin-bottom: 100px
}

/*input.error, select.error {*/
/*    border: 1px solid var(--error);*/
/*}*/

/*==================================================
GLOBAL HELPERS
===================================================*/
.rackemm-border-bottom {
    border-bottom: 1px solid rgba(255,255,255, 0.1)
}

.rackemm-border-top {
    border-top: 1px solid rgba(255,255,255, 0.1)
}

.rackemm-text-stroke-cyan{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--cyan);
}

.rackemm-gradient-black-to-dark-gray {
    background-image: var(--gradient-black-to-dark-gray)
}

.rackemm-text-cyan {
    color: var(--cyan)
}

.rackemm-bg-cyan {
    background-color: var(--cyan)
}

.rackemm-bg-light-gray {
    background-color: var(--light-gray)
}

/*==================================================
RACKEMM NAV TABS
===================================================*/
.rackemm-nav-tabs .nav-item.show .nav-link, .rackemm-nav-tabs .nav-link.active {
    background-color: rgba(0,0,0,0);
    border-top: 1px solid white !important;
    border-right: 1px solid white !important;
    border-left: 1px solid white !important;
    color: white;
}

/*==================================================
RACKEMM DROPDOWN
===================================================*/
/*dropdown menu*/
.rackemm-dropdown-menu {
    padding: 0px;
    border-radius: 0;
    background-color: var(--light-gray)
}

.rackemm-dropdown-menu hr {
    margin: 0;
}

.rackemm-dropdown-menu .dropdown-item.active, .dropdown-item:active {
    color: var(--medium-gray);
    background-color: var(--cyan);
}

/*==================================================
RACKEMM ACCORDION
===================================================*/
.rackemm-accordion .accordion-button:not(.collapsed) {
    border-radius: 0;
    color: var(--light-gray);
    background-color: var(--cyan);
    box-shadow: inset 0calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
}

.rackemm-accordion .accordion-item:first-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.rackemm-accordion .accordion-item:last-of-type {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.rackemm-accordion .accordion-item {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}

/*==================================================
RACKEMM CARD
===================================================*/
.rackemm-card {
    border-radius: 0;
    border:none;
}
.rackemm-card .card-header {
    background-color: var(--cyan);
    border-radius: 0 !important;
}

.rackemm-card .card-body {
    background-color: var(--medium-gray);
    border-radius: 0;
}

.rackemm-card .card-footer {
    background-color: var(--cyan);
    border-radius: 0 !important;
}


/*==================================================
HERO BACKGROUNDS
===================================================*/
.rackemm-hero-1 {
    margin-top: -200px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
            rgba(0, 0, 0, .9),
            rgba(0, 0, 0, .1)
    ),
    url(https://res.cloudinary.com/imagine-design-develop/image/upload/v1663402485/rackemm_images/app_images/breaking_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rackemm-hero-2 {
    min-height: 400px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
            rgba(0, 0, 0, .9),
            rgba(0, 0, 0, .1)
    ),
    url(https://res.cloudinary.com/imagine-design-develop/image/upload/v1663629033/rackemm_images/app_images/me_breaking_2016_08_23_07_13_10_UTC.jpg);
    background-size: cover;
}

/*==================================================
RACKEMM GRID FORM
===================================================*/
.rackemm-card-grid-form{
    background-color: var(--grid-form)
}
.rackemm-card-grid-form [data-row-span] [data-field-span] label:first-child {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8rem;
    color: #333;
    display: block;
    font-weight: 600;
    margin-bottom: 4px;
}

.rackemm-card-grid-form [data-row-span] [data-field-span]:hover, .rackemm-card-grid-form [data-row-span] [data-field-span]:focus,
.rackemm-card-grid-form [data-row-span] [data-field-span]:focus-within{
    background-color: var(--dark-yellow) !important;
    border: 1px solid var(--cyan)
}

/*==================================================
REACT TABLE COMPONENT OVERRIDES
===================================================*/
.rdt_TableHead {
    font-size: 1rem !important;
    font-weight: bold !important;
}

.rdt_TableRow {
    font-size: .9rem !important;
}
.rdt_TableCell {
    min-width: 180px !important;
}


.rackemm-footer .active {
    font-weight: bold;
    color: white
}

/*==================================================
Offcanvas
===================================================*/
.offcanvas-header .btn-close {
    background-color: var(--white);
}

/*==================================================
PAGINATION
===================================================*/
.reviews-pagination ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.reviews-pagination ul li {display: inline;}

.reviews-pagination ul li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.offcanvas-body a {
    padding: 10px
}

.offcanvas-body a:hover {
    background-color: var(--dark-gray);
    padding: 10px;
    color: var(--white)!important;
}

.active-side-nav {
    background-color: var(--cyan) !important;
    padding: 10px;
}

@media (min-width: 992px) {
    .rackemm-hero-3 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #303030;
        background-image: linear-gradient(
                rgba(0, 0, 0, .7),
                rgba(0, 0, 0, .7)
        ),
        url(https://res.cloudinary.com/imagine-design-develop/image/upload/v1663629033/rackemm_images/app_images/me_breaking_2016_08_23_07_13_10_UTC.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}