@import url("https://fonts.googleapis.com/css?family=Anton");

:root {
    --error: #e7195a;
    --cyan: #00cdcd;
    --black: #000000;
    --light-gray: #ebebeb;
    --form: #fefce3;
    --white: #ffffff;
}

#root {
    min-height: 100vh;
    background-color: var(--light-gray)
}

main {
    margin-top: 100px;
    margin-bottom: 100px
}

/* Nav */
#main-navbar {
    min-height: 100px;
}

.navbar.active {
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    /*background: rgb(3 255 255 / 80%);*/
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.content-section {
    background-color: var(--white);
    padding: 60px 30px;
    min-height: 700px;
}

input.error, select.error {
    border: 1px solid var(--error);
}

#form .card-body {
    background-color: var(--form)
}
