#media-page .lightbox-gallery{
    background-image: linear-gradient(#4A148C, #E53935);
    background-repeat: no-repeat;
    color: #000;
    overflow-x: hidden
}

#media-page .lightbox-gallery p{
    color:#fff
}

#media-page .lightbox-gallery h2{
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:#fff
}

@media (max-width:767px){
    #media-page .lightbox-gallery h2{
        margin-bottom:25px;
        padding-top:25px;
        font-size:24px
    }
}

#media-page .lightbox-gallery .intro{
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px
}

#media-page .lightbox-gallery .intro p{
    margin-bottom:0
}

#media-page .lightbox-gallery .photos{
    padding-bottom:20px
}

#media-page .lightbox-gallery .item{
    padding-bottom:30px
}

/* =========================================*/
#media-page .item {
    position: relative;
}

#media-page .item button {
    position: absolute;
    align-content: center;
    bottom: 5px;
    left: 5px;
}

/* =========================================*/

#media-page .my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px;
    width: auto;
}
#media-page .my-masonry-grid_column {
    padding-left: 30px;
    background-clip: padding-box;
}
#media-page .my-masonry-grid_column > div {
    background: rgba(0,0,0,.4);
    margin-bottom: 30px;
}

#media-page .file-upload{
    position: relative;
}
#media-page .file-upload .file-select{
    position: absolute;
    left:0;
    z-index: 1;
    width: 100px;
}

#media-page .file-upload .file-name{
    position: absolute;
    padding-left: 103px;
}
